{% extends "Main/base.html" %}

{% block content %}
    <br><br>
    <img src="{{ userdata.profile_img.url }}" class="main_image" alt="Profile Pic"/>
    <br>
    <h6 class="content_title">User: {{ user.get_username }}</h6>
    <form action="." method="POST">
        {% csrf_token %}
        <input class="form-control"  placeholder="Old Password" type="password" name="old_password"  required/><br>
        <div class="divCheckPasswordMatch"></div>
        <input class="form-control" id="password1" placeholder="New Password" type="password" name="new_password"  required/><br>
        <div class="divCheckPasswordMatch"></div>
        <input class="form-control" id="password2" placeholder="Confirm New Password" type="password" name="confirm" required/><br>

        <input class="btn btn-lg btn-primary btn-success" type="submit" value="Change Password" name="save" />
        <br/>
    </form>
    <br>
    <a href="/user/{{ user.get_username }}" class="btn btn-success">back</a>


    <script>
        function checkPasswordMatch() {
            var password = $("#password1").val();
            var confirmPassword = $("#password2").val();

            if (password != confirmPassword && password.length != 0)
                $(".divCheckPasswordMatch").html("Passwords do not match!");
            else
                $(".divCheckPasswordMatch").html("Passwords match.");
        }

        $(document).ready(function () {
            $("#password1").keyup(checkPasswordMatch);
            $("#password2").keyup(checkPasswordMatch);
        });
    </script>
{% endblock content %}