{% extends "Main/base.html" %}

{% block content %}
    <div class="text-center">
        <br><br>
        <img src="{{ userdata.profile_img.url }}" class="main_image" alt="Profile Pic"/>
        <br>
        <h6 class="content_title">User: {{ user.get_username }}</h6>
        <a href="/change_password" class="btn btn-success">Change Password</a>
        <br>
    </div>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="text-green">First Name:</p>
        <input class="form-control"  type="text" name="first_name" value="{{ user.first_name }}" required/><br>
        <p class="text-green">Last Name:</p>
        <input class="form-control"  type="text" name="last_name" value="{{ user.last_name }}" required/><br>
        <p class="text-green">Email:</p>
        <input class="form-control"  type="email" name="email" value="{{ user.email }}" required/><br>

        <p class="text-green">Change Profile Picture:</p>
        <input type="file" accept="image/*" name="picture" /><br>

        <input class="btn btn-lg" type="reset" value="Reset" name="reset" />
        <input class="btn btn-lg btn-success" type="submit" value="Save Changes" name="save" />

        <br/>
    </form>
    <br>
    <div class="text-center">
        <a href="/user/{{ user.get_username }}" class="btn btn-success">back</a><br><br>
    </div>
{% endblock content %}