{% extends "Main/base.html" %}

{% block content %}
    {% if slides %}
            <div id="main_carousel" class="carousel slide hidden-sm hidden-xs" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                {% for slide in slides %}
                    <li data-target="#main_carousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                {% endfor %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    {% for slide in slides %}
                        {% if forloop.counter == 1 %}
                            <div class="item active">
                        {% else %}
                            <div class="item">
                        {% endif %}
                                <a href="{{ slide.url }}">
                                    <img src="{{ slide.image.url }}" alt="{{ slide.url }}">
                                </a>
                            </div>
                    {% endfor %}
                </div>

            </div>

    {% endif %}



    {% block account_content %}
        <div id="three_steps">
            <br><br>
            <h2>Solving climate change, one tree at a time</h2>
            <br><br>
            <a href="/carbon_emissions">Calculate your CO<sub>2</sub> emissions</a>
            <br><br>
            <span class="glyphicon glyphicon-arrow-down"></span>
            <br><br>
            <a href="http://www.usatoday.com/story/dispatches/2013/10/14/hawaii-plant-koa-trees-hawaiian-legacy-hardwoods-tours/2983121/">Plant trees to offset your emissions</a>
            <br><br>
            <span class="glyphicon glyphicon-arrow-down"></span>
            <br><br>
            <a href="http://mashable.com/2013/10/22/reduce-carbon-footprint/">Reduce your emissions</a>
            <br><br><br><br>
        </div>
        <div class="tree_background"></div>
    {% endblock account_content %}
{% endblock content %}