html, body {
    margin:0;
    padding:0;
    height:100%;
}

#container {
    min-height:100%;
    position:relative;
}

#nav {

}

#main {
    padding-bottom: 100px;
}

#footer {
    background:#2DBB28;
    position:absolute;
    bottom:0;
    width:100%;
    height:100px;
    padding-top: 20px;
}

.btn {
    outline: none;

}

#header{
    background-color:#2DBB28;

}


.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right:-4px;
}


h1 a:hover, a:active, a:focus{
    text-decoration: none;
    color: white;
}

.nav_link a:link, a:visited {
    color: white;
}

.nav_link a:hover, a:active, a:focus {
    color: #1E311D;
    text-decoration: none;
}

a:active, a:focus {
    outline: none;
    -moz-outline-style: none;
}

.btn:focus, .btn:active {
    outline: none;
    -moz-outline-style: none;
}

#main_carousel > .carousel-inner > .item > img,
#main_carousel > .carousel-inner > .item > a > img {
    width: 100%;
    height: 300px;
}

#three_steps h2{
    color: #235021;
}

#three_steps {
    padding-top: 20px;
    text-align: center;
    cursor: default;
    background-image: url("/media/pictures/tree101.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

#three_steps a{
    text-align: center;
    color: #387A36;
    text-decoration: none;
    outline: none;
    font-size: 30px;
    cursor: pointer;
}

#three_steps .glyphicon {
    font-size: 30px;
    color: #2DBB28;
}

.errorlist {
    list-style-type: none;
    color: red;
}

#signup label{
    display: none;
}

.green_bg {
    background-color: #d7f6d5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.white_bg {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic {
    height: 200px;
    width: 200px;
    border: 5px solid #2DBB28;
}

#profile_username {
    font-size: 30px;
}

#profile_name {
    font-size: 20px;
}

.text_limit {
    word-break: break-all;
}

.content_title {
    text-align: center;
    color: #235021;
    font-size: 30px;
}

.content_title2 {
    text-align: center;
    color: #2DBB28;
    font-size: 30px;
}

#tree_carousel > .carousel-inner > .item > img,
#tree_carousel > .carousel-inner > .item > a > img {
    border: 5px solid #2DBB28;
    margin: 0px 2%;
    width: 15%;
    height: 150px;
    display: inline-block;
}

#tree_form label{
    display: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}





